<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ABOUT</title>
        <link rel="icon" type="image/png" href="imgs/STOPME.png" class="circular-favicon">
        <link rel="stylesheet" type="text/css" href="css/about.css">
    </head>

    <body>
        <h1>SYNTH</h1>
        <hr></hr>
        <p><b>SYNTH</b> IS A WEB APPLICATION ALLOWING USERS TO CREATE AND SHARE THEIR RECIPES</p>
        <p><b>SYNTH</b> IS CURRENTLY IN DEVELOPMENT</p>
        <p><b>SYNTH</b> IS BEING DEVELOPED BY MARCUS HARRISON KUZMAROV</p>
        <p><b>INQUIRIES:</b> <a href="mailto:synth@kuzmo.xyz">EMAIL ME!</a></p>
        <a href="/">BACK</a>

        <script defer src="script/about.js"></script>
    </body>
</html>